<!-- <p >{{cmp.info['txt']}}</p> -->
<p
  [ngStyle]="cmp.style"
  (click)="overlayOpen = !overlayOpen"
  cdkOverlayOrigin
  #overlay="cdkOverlayOrigin"
  [class.open]="overlayOpen"
>
  {{ cmp.info["txt"] }}
</p>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlay"
  [cdkConnectedOverlayOpen]="overlayOpen"
  (overlayOutsideClick)="overlayOpen = false"
>
  <input type="text" [(ngModel)]="cmp.info['txt']" (change)="onDo($event)" />
  <input type="number" [(ngModel)]="cmp.style['font-size.px']" (change)="onDo($event)" />
  <input type="number" [(ngModel)]="cmp.style['margin-inline-start.em']" (change)="onDo($event)" />
</ng-template>
