<div class="sidebar-icons">
  <i
    (click)="onSetExpand('elements')"
    [getSvg]="'add-elements'"
    [ngClass]="sidebarExpand === 'elements' ? 'active' : ''"
  ></i>
  <i
    (click)="onSetExpand('sections')"
    [getSvg]="'add-section'"
    [ngClass]="sidebarExpand === 'sections' ? 'active' : ''"
  ></i>
  <i
    (click)="onSetExpand('pages')"
    [getSvg]="'pages'"
    [ngClass]="sidebarExpand === 'pages' ? 'active' : ''"
  ></i>
</div>
<div class="sidebar-expand" [ngClass]="sidebarExpand ? 'expand' : ''">
  @switch (sidebarExpand) { @case('elements'){
  <elements-menu (close)="onSetExpand('')"/>
  } @case('sections'){
  <sections-menu (close)="onSetExpand('')"/>
  } @case('pages'){
  <pages-menu (close)="onSetExpand('')"/>
  } }
</div>
