<header class="elements-header">
  <h3>Add Elements</h3>
  <span (click)="close.emit()">X</span>
</header>
<section class="tabs">
  <ul class="clean-list">
    <li>Text</li>
    <li>Buttons</li>
    <li>Forms</li>
    <li>Menus</li>
    <li>Social</li>
    <li>Map & Video</li>
  </ul>
</section>
<section class="elements" id="elements" cdkDropList [cdkDropListData]="templates" [cdkDropListEnterPredicate]="predicate">
  @for(template of templates; track template._id){

  <editable-txt cdkDrag [cdkDragData]="template" [cmp]="template"  >
  </editable-txt>
  }
</section>
